body {
  background-color: brown;
  background-image: url(4a0345e96d4b074c7bc8eb2ca0ca99ae.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #fff;
  font-size: 1.8em; }

